[Unit]
Description=Memory Game

[Service]
Type=simple
User=memory2user
Group=memory2user
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4780"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/memory2user/memory
ExecStart=bash /home/memory2user/memory/start.sh

[Install]
WantedBy=multi-user.target
